<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34967683599-1amc0kc15uovr2jfk51chqutg1j42is4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34967683599-1amc0kc15uovr2jfk51chqutg1j42is4</string>
	<key>API_KEY</key>
	<string>AIzaSyChT7xMAJZohGcNxMVa0FXZVpIWY-TCJlA</string>
	<key>GCM_SENDER_ID</key>
	<string>34967683599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slovozavrFlutter</string>
	<key>PROJECT_ID</key>
	<string>slovozavr-193fe</string>
	<key>STORAGE_BUCKET</key>
	<string>slovozavr-193fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34967683599:ios:faeb9ffaf6d1e22540d97a</string>
</dict>
</plist>